.event-list-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem;
  min-height: 90vh;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.pagination-controls button {
  background-color: #ADD8E6;
  border: none;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

.pagination-controls button:hover {
  background-color: #FFA500;
  color: white;
}

.pagination-controls button:hover[disabled] {
  background-color: #CCC;
  cursor: default;
}
