<div class="form-container">
  <form [formGroup]="signupForm" (ngSubmit)="onSignUp()">
    <div class="form-group">
      <label for="first_name">First Name</label>
      <input type="text" formControlName="first_name">
    </div>
    <div class="form-group">
      <label for="last_name">Last Name</label>
      <input type="text" formControlName="last_name">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" formControlName="email">
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" formControlName="username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" formControlName="password">
    </div>
    <div class="form-group">
      <label for="password_confirmation">Confirm Password</label>
      <input type="password" formControlName="password_confirmation">
    </div>

    @for (error of errors; track $index) {
      <p class="error">{{ error }}</p>
    }

    <button type="submit">Sign Up</button>
  </form>
</div>
