<nav class="navbar">
  <div class="brand-name">Pickup Sports</div>
  <div class="nav-links">

    @if(isLoggedIn()) {
      <span>Welcome, {{ currentUser?.username }}</span>
      <a (click)="logout()">Logout</a>
      <div class="menu-container" [class.active]="isSidebarVisible">
        <button class="menu" (click)="toggleSidebar()">☰</button>
      </div>
    }@else {
      <a routerLink="/login">Login</a>
      <a routerLink="/signup">Sign Up</a>
    }

  </div>
</nav>

<div class="sidebar" [class.active]="isSidebarVisible">
  <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Timeline</a>
    <a routerLink="/events">Events</a>
    <a routerLink="/create-event">Create Event</a>
</div>
